:root {
  --orange: #ed7020;
  --black: #040406;
  --white: #eeedeb;
  --gray: #4a4a4b;
  --font1: "Raleway", sans-serif;
  --font2: "Montserrat", sans-serif;
  --cursive: "Dancing Script", cursive;
}
.vouchers-wrapper {
  width: 80%;
  margin-top: 2rem;
  display:flex;
  flex-direction:column;
  background-color: var(--black);
  margin-left: 70px;
}
.voucher-boxL {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: .4rem;
  padding-top: .4rem;
  background-color: rgb(223, 223, 223);

}
.voucher-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & h6 {
    font-size: 2.3rem;
    font-family: var(--font2);
    font-weight: 800;
    color: var(--gray);
  }
  & span {
    color: var(--orange);
    font-weight: 400;
  }
  & p {
    font-family: var(--cursive);
    font-weight: 800;
    font-size: 2.4rem;
    color: var(--orange);
    margin-top: -2.6rem;
    margin-left: 8rem;
  }
}
.voucher-info {
  padding: 1rem;
  font-weight: 500;
  color: var(--orange);
  margin-top: -1rem;
  & li {
    color: var(--gray);
  }
}
.voucher-info :first-child{
    font-weight: 600;
    color: var(--orange);
    margin-bottom: .2rem;
    font-size: 1.3rem;
}
.voucher-contact {
  display: flex;
    gap:2.5rem;
    margin-top: .5rem;
    padding-bottom: .3rem;
  & li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font2);
    gap: .5rem;
    font-size: 1rem;
    font-weight: 600;
    color:var(--gray);
  }
  & i {
    border-top: 3px solid var(--orange);
    font-size: 2rem;
    padding-top: .5rem;
    
  }
}
.voucher-boxR { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem;
}
.voucher-logo {
    width:80%;
    height: 150px;
    border-top: 3px solid var(--orange);
    border-bottom: 3px solid var(--gray);
    display: flex;
    justify-content: center;
    object-fit: contain;
    & img{
        width: 100%;
    }
}
.voucher-discount{
    font-family: var(--font2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: var(--orange);
    span{
        font-size: 7rem;
    }
    div{
        padding-bottom: 1.5rem;
        align-self: center;
        margin-top: 2.5rem;
        & p{
            font-weight: 600;
            font-size: 2rem;
        }
    }
}

@media(min-width:550px){
  .vouchers-wrapper{
    width: 80%;
  }
  .voucher-title {
    & h6 {
      font-size: 3rem;
      }
      & span {
        color: var(--orange);
      }
      & p {
        font-size: 2.5rem;
        margin-top: -3.2rem;
        margin-left: 13rem;
      }
    }
    .voucher-info{
      text-align: center;
      text-wrap: balance;
      margin-top: 2rem;
    }
}
@media(min-width:950px){
  .vouchers-wrapper{
    flex-direction: row;
    border-radius: 10px;
    height: 400px;
    margin-top: 3rem;
  }
  .voucher-title{
    padding: 1rem;
    border: none;
    width: 100%;
    align-items: flex-start;
 
      & h6 {
        font-size: 3.4rem;
        }
        & span {
          color: var(--orange);
        }
        & p {
          font-size: 2.9rem;
          margin-top: -3.2rem;
          margin-left: 13rem;
      }  
  }
  .voucher-info{
    text-align: start;
    margin-top: -1rem;
    & li:first-child{
      font-size: 1.6rem;
      font-weight: 600;
    }
    & li{
      margin-top: .3rem;
     
    }
    margin-bottom: .3rem;
  }
  .voucher-contact{
    gap:7rem;
    & i{
      padding-top: .5rem;
    }
  }
  .voucher-boxL{
    width: 50%;
  }
  .voucher-boxR{
    width: 50%;
    border-radius: 100px;
    gap: 1.5rem;
  }
  .voucher-logo{
    width: 60%;
    justify-content: flex-end;
    align-self: flex-end;
    margin-right: 2rem;
  }
  .voucher-boxL{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .voucher-discount{
    span{
        font-size: 9rem;
    }
    div{
        line-height: 2.5rem;
        & p{
            font-size: 3rem;
        }
    }
}
}

@media(min-width:1400px){
  .vouchers-wrapper{
    width: 70%;
  }
}