*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

:root {
  --orange: #ed7020;
  --black: #040406;
  --white: #eeedeb;
  --gray: #4a4a4b;
  --font1: "Raleway", sans-serif;
  --font2: "Montserrat", sans-serif;
  --cursive: "Dancing Script", cursive;
}
ul,
li,
a {
  text-decoration: none;
  list-style: none;
}
.teams-wrapper {
  width: 100%;
  
  /* background-image: url("../../assets/images/");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; */
  opacity: 0.9;
  position: relative;
}
.btn-back {
  background: none;
  position: absolute;
  left: 0;
  top: 0;
  border: none;
  padding: 1rem;
  & i {
    font-size: 3rem;
    color: rgb(233, 223, 223);
    background: none;
    transition: all 0.3s;
  }
}
.btn-back i:hover {
  color: var(--black);
  transform: scale(1.2);
}
.team-box {
  margin: auto;
  margin-top:1rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  width: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.22);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-top: none;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  opacity: 1;
}
.team-name {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: -63px;
  right: -1px;
  min-width: 200px;
  max-width: 250px;
  height: 63px;
  max-width: 500px;
  padding: 0.5rem;
  text-align: end;
  clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%);
  background: rgba(255, 255, 255, 0.22);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-top-left-radius: 60px;
  border-top-right-radius: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.22);
  & h2 {
    font-size: 1.6rem;
    font-weight: 600;
    color: rgb(46, 39, 39);
    line-height: 1.5rem;
    font-family: var(--font2);
    margin-left: 2rem;
  }
}
.img-escudo {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  & img {
    min-width: 200px;
    max-width: 300px;
    border-radius: 5px;
  }
}
.team-info {
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-wrap: balance;
  & h4 {
    color: rgb(99, 94, 94);
    font-size: 1.2rem;
    font-family: var(--font2);
    font-weight: 600;
  }
  & button {
    margin-top: 2rem;
    border: none;
    font-size: 1.2rem;
    background-color: var(--black);
    padding: 0.5rem 1rem;
    font-family: var(--font2);
    font-weight: 600;
    border-radius: 7px;
    transition: all 0.3s;
    color: whitesmoke;
  }
}
.team-info button:hover {
  color: var(--orange);
  transform: scale(1.1);
}
.club-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1.5rem;
  text-align: center;
  font-weight: 600;
  font-family: var(--font2);
  color: rgb(221, 219, 219);
}

a {
  outline: none;
  color: #3498db;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #528cb3;
}

.content {
  margin: 0 auto;
  max-width: 1000px;
}

.content > h2 {
  clear: both;
  margin: 0;
  padding: 4em 1% 0;
  
  color: #484b54;
  font-weight: 800;
  font-size: 1.5em;
}

.content > h2:first-child {
  padding-top: 0em;
}

/* Header */
.codrops-header {
  margin: 0 auto;
  padding: 4em 1em;
  text-align: center;
}

.codrops-header h1 {
  margin: 0;
  font-weight: 800;
  font-size: 4em;
  line-height: 1.3;
}

.codrops-header h1 span {
  display: block;
  padding: 0 0 0.6em 0.1em;
  color: #74777b;
  font-weight: 300;
  font-size: 45%;
}

/* Demo links */
.codrops-demos {
  clear: both;
  padding: 1em 0 0;
  text-align: center;
}

.content + .codrops-demos {
  padding-top: 5em;
}

.codrops-demos a {
  display: inline-block;
  margin: 0 5px;
  padding: 1em 1.5em;
  text-transform: uppercase;
  font-weight: bold;
}

.codrops-demos a:hover,
.codrops-demos a:focus,
.codrops-demos a.current-demo {
  background: #3c414a;
  color: #fff;
}

/* To Navigation Style */
.codrops-top {
  width: 100%;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 0.69em;
  line-height: 2.2;
}

.codrops-top a {
  display: inline-block;
  padding: 1em 2em;
  text-decoration: none;
  letter-spacing: 1px;
}

.codrops-top span.right {
  float: right;
}

.codrops-top span.right a {
  display: block;
  float: left;
}

.codrops-icon:before {
  margin: 0 4px;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: "codropsicons";
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
  content: "\e001";
}

.codrops-icon-prev:before {
  content: "\e004";
}

/* Related demos */
.related {
  clear: both;
  padding: 6em 1em;
  font-size: 120%;
}

.related > a {
  display: inline-block;
  margin: 20px 10px;
  padding: 25px;
  border: 1px solid #4f7f90;
  text-align: center;
}

.related a:hover {
  border-color: #39545e;
}

.related a img {
  max-width: 100%;
  opacity: 0.8;
}

.related a:hover img,
.related a:active img {
  opacity: 1;
}

.related a h3 {
  margin: 0;
  padding: 0.5em 0 0.3em;
  max-width: 300px;
  text-align: left;
}

@media screen and (max-width: 25em) {
  .codrops-header {
    font-size: 75%;
  }
  .codrops-icon span {
    display: none;
  }
  .content {
    padding: 0 10px;
    text-align: center;
  }
}
@media (min-width: 1000px) {
  .team-box {
    flex-direction: row;
    gap: 3rem;
    border-top-left-radius: 16px;
  }
  .plantilla-wrapper {
    padding-top: 2rem;
    & h6 {
      font-size: 3.5rem;
    }
  }
  .img-escudo {
    border-bottom: none;
  }
  .team-info {
    flex-direction: column;
    margin-top: 0;
    align-items: flex-start;
    padding-left: 3rem;
    & h4 {
      font-size: 1.5rem;
      font-weight: 600;
    }
    & button {
      width: 170px;
      align-self: flex-end;
      margin-right: 4rem;
    }
  }
  .img-escudo {
    width: 50%;
    & img {
      max-width: 350px;
    }
  }
  .club-details {
    display: flex;
    align-items: flex-start;
    text-align: start;
    padding-left: 0;
    gap: .5rem;
    & li {
      display: flex;
      gap: 0.5rem;
      align-items: center;
    }
  }
 
}
@media (min-width: 1300px) {
  .btn-back {
    padding: 2rem;
    & i {
      font-size: 4rem;
    }
  }
 .img-escudo{
  & img{
    width:600px;
  }
 }
  .team-box {
    justify-content: space-between;
    width: 80%;
  }
  .team-name {
    & h2 {
      font-size: 2rem;
      padding: 0 1rem;
    }
  }
  .team-info {
    width: 50%;
    & h4 {
      margin-bottom: .5rem;
    }
    & button {
      margin-right: 5rem;
    }
  }
  .club-details {
    gap: 1.5rem;
  }
}
